[submodule "riscv-formal"]
	path = riscv-formal
	url = https://github.com/YosysHQ/riscv-formal
[submodule "verif/riscv-arch-test"]
	path = verif/riscv-arch-test
	url = https://github.com/riscv-non-isa/riscv-arch-test
[submodule "verif/tenstorrent-riscv-arch-tests"]
	path = verif/tenstorrent-riscv-arch-tests
	url = https://github.com/tenstorrent/riscv_arch_tests
[submodule "verif/sail-riscv"]
	path = verif/sail-riscv
	url = https://github.com/riscv/sail-riscv.git
[submodule "waveform-mcp"]
	path = waveform-mcp
	url = https://github.com/ynivin/waveform-mcp
